
body{
    font-family: 'Montserrat', sans-serif;
}
.head-bg{
    background-image: url("../img/background-1.jpg");
    background-size: cover;
    height: 1012px;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateY(calc(88%/2));
    margin-top: -42px;
    margin-bottom: 246px;


}
.hex:before {
    content: "";
    width: 0; height: 0;
    border-bottom: 20px solid #18cfab;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    position: absolute;
    top: -19px;
}

.hex {
    margin-top: 30px;
    margin-left: 40px;
    width: 56px;
    height: 30px;
    background-color: #18cfab;
    position: relative;
    float: left;
    border-radius: 4px;
    display: inline-block;
}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -18px;
    border-top: 20px solid #18cfab;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.hex-word{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
}
.head-logo{
    display: inline-block;
}
.head-logo-text{
    padding-top: 27px;
    padding-left: 8px;
    display: inline-block;
    color: white;

}
.head-logo-text2{
    font-size: 36px;
    font-weight: bolder;
}
.turquoise-text{
    color: #18cfab;
}
.head-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 644px;
}
.head-navbar-menu{
    display: inline-block;
    font-size: 13px;
    color: #b8b8b8;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: 40px;
}
.head-navbar-menu:hover{
    color: #18cfab;
    padding-bottom: 10px;
    border-bottom: 2px solid #18cfab;
}
.head-navbar-search{
    color: #b8b8b8;
    padding-top: 40px;
}
.head-text{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 142px;
}
.head-text-first{
    margin-bottom: 45px;
    font-size: 35px;
    font-weight: bolder;

}
.head-text-second{
    margin-bottom: 37px;
    font-size: 69px;
    font-weight: bolder;

}
.head-text-third{
    color: #d4d4d4;
    font-size: 30px;
    font-weight: lighter;
}
.head-button{
    text-align: center;
}
.head-button-first{
    padding: 26px 32px;
    background: #18cfab;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-right: 28px;
    border-radius: 5px;
    box-shadow: 0 -5px 0  #ffffff;
}
.head-button-first:hover{
    background: #15a98b;
    transition: 0.7s;
}
.head-button-first:not(hover){
    transition: 0.7s;
}
.head-button-second{
    padding: 26px 26px;
    background: #00cbf6;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 -5px 0  #ffffff;

}
.head-button-second:hover{
    background: #0090b4;
    transition: 0.7s;
}
.head-button-second:not(hover){
    transition: 0.7s;
}
.second-section{

}
.second-section-lines{
    display: grid;
    margin: 0 auto;
    overflow: hidden;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
                "line1 line2 line3 line4"
}
.second-section-lines-1{
    grid-area: line1;
}
.second-section-lines-2{
    grid-area: line2;
}
.second-section-lines-3{
    grid-area: line3;
}
.second-section-lines-4{
    grid-area: line4;
}
.line{
    width: 480px;
    height: 7px;
    background: #18cfab;
}
.line:nth-child(2n){
    background: white;
}
.second-section-icons{
    display: grid;
    margin: 0 auto;
    overflow: hidden;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
            "icons-1 icons-2 icons-3 icons-4"
}
.second-section-icons-1{
    grid-area: icons-1;
}
.second-section-icons-2{
    grid-area: icons-2;
}
.second-section-icons-3{
    grid-area: icons-3;
}
.second-section-icons-4{
    grid-area: icons-4;
}
.icon-link{
    text-decoration: none;
}
.icon-element{
    width: 422px;
    height: 367px;
    background: #1c2a33;
    text-align: center;
}
.icon-bg-2n{
    background: #18cfab;
}
.image-icon-1{
    padding-top: 88px;
}
.image-icon-2{
    padding-top: 99px;
}
.image-icon-3{
    padding-top: 88px;
}
.image-icon-4{
    padding-top: 98px;
}
.icon-text{
    color: #18cfab;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}
.white{
    color: white;
}
.icon-text-1{
    padding-top: 48px;
}
.icon-text-2{
    padding-top: 59px;
}
.icon-text-3{
    padding-top: 49px;
}
.icon-text-4{
    padding-top: 59px;
}
.our-services-head{
    text-align: center;
    padding-top: 82px;
}
.our-services-head-text{
    font-size: 36px;
    font-weight: lighter;
    margin-bottom: 37px;
}
.our-services-head:before{
    content: '';
    display: inline-block;
    width: 76px;
    box-sizing: border-box;
    border: 1px solid #18cfab;
    margin-bottom: -82px;
    margin-left: -35px;
}
.our-services-head:after{
    content: '';
    display: inline-block;
    width: 76px;
    box-sizing: border-box;
    border: 1px solid #18cfab;
    margin: 0 auto;
}
.our-services-content{
    padding-top: 70px;
}
.wrapper{
    width: 1155px;
    margin: 0 auto;
}
.our-services-content-grid{
    display: grid;
    margin: 0 auto;
    overflow: visible;
    grid-template-columns: 17% 17% 17% 17% 17% 17%;
    grid-template-areas:
            "items-1 items-2 items-3 items-4 items-5 items-6"
}
.our-services-items-1{
    grid-area: items-1;
}
.our-services-items-2{
    grid-area: items-2;
}
.our-services-items-3{
    grid-area: items-3;
}
.our-services-items-4{
    grid-area: items-4;
}
.our-services-items-5{
    grid-area: items-5;
}
.our-services-items-6{
    grid-area: items-6;
}
.our-services-depart{
    text-decoration: none;
    color: #717171;
    width: 195px;
    height: 45px;
    border: 1px solid #ebebeb;
    text-align: center;
    font-size: 16px;
    padding-top: 28px;
    background: #f8fcfe;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
}
.our-services-depart.active{
    background: #18cfab;
    color: #ffff;
}
.our-services-depart.active:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right:20px solid transparent;
    border-top: 15px solid #18cfab;
    position: absolute;
    top: 72px;
    right: 78px;
}
.our-services-photo-and-content{
    display: grid;
    margin: 0 auto;
    overflow: visible;
    grid-template-columns: 17% 83%;
    grid-template-areas:
            "content-photo content1"
}
.our-services-photo{
    margin-bottom: 101px;
}
.content-photo{
    grid-area: content-photo;
    display: none;
}
.ul-content{
    margin-left: 20px;
}
.content{
    grid-area: content1;
    display: none;
    font-size: 14px;
    color: #808080;
}
.buy-and-install{
    background-image: url("../img/buy-and-install-bg.png");
    height: 476px;
    background-position: 0 -350px;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
}
.buy-and-install-head{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: 128px;
}
.buy-and-install-text{
    text-align: center;
    padding-top: 35px;
    font-size: 16px;
    color: #d8d8d8;
    margin-bottom: 106px;
}
.buy-and-install-button{
    margin-left: 755px;
}
.wrapper-2{
    width: 652px;
    margin: 0 auto;
}
.amazing-work-bg{
    background-color: #f8fcfe;
    padding-bottom: 125px;
    width: 100%;
    border-bottom: 2px solid #e1e1e1;
}
.amazing-work-navbar-menu{
    padding-top: 70px;
    margin-bottom: 71px;
}
.amazing-work-navbar-menu-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #ebebeb;

}
.amazing-work-categories-items{
    font-size: 14px;
    color: #717171;
    padding-top: 24px;
    padding-bottom: 20px;
    border-right: 1px solid #ebebeb;
    background-color: white;
    cursor: pointer;
}
.last-child{
    border-right: none;
    padding-right: 22px;
    padding-left: 27px;
}
.item-border-1{
    padding-right: 26px;
    padding-left: 30px;
}
.item-border-2{
    padding-right: 24px;
    padding-left:24px;
}
.item-border-3{
    padding-right: 22px;
    padding-left:22px;
}
.item-border-4{
    padding-right: 27px;
    padding-left: 28px;
}
.amazing-work-categories-items.active{
    color: #18cfab;
    border-top: 3px solid #18cfab;
}
.wrapper-3{
    width: 1136px;
    margin: 0 auto;
}
.amazing-work-content-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
}

.image-container{
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.image-wrapper{
    display: inline-block;
}
.image-wrapper:hover .hide{
    bottom: 0;
}
.hide {
    transition: 0.7s bottom;
    position: absolute;
    bottom: -208px;
    background-color: #f8fcfe;
    color: #8a8a8a;
    width: 100%;
    height: 206px;
    text-align: center;
    border-top: 3px solid #18cfab;

}
.icons-container{
    padding-top: 46px;

}
.glasses-icon{
    padding: 15px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
}
.glasses-icon:hover{
    background: #18cfab;
    color: white;
}
.magnifier-icon{
    padding: 15px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
}
.magnifier-icon:hover{
    background: #18cfab;
    color: white;
}
.amazing-work-text-1{
    font-size: 20px;
    padding-top: 34px;
    text-transform: uppercase;
    font-weight: bolder;
}
.amazing-work-text-2{
    font-size: 18px;
    padding-top: 13px;
    text-transform: capitalize;
}
.amazing-work-display-none{
    display: none;
}
.button-load-more{
    padding-top: 71px;
    text-align: center;
}
.button-load-more-plus{
    padding: 25px 21px 25px 54px;
    color: white;
    background: #18cfab;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 4px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.button-load-more-plus::before{
    content: '';
    background-image: url("../img/plus-icon.png");
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    top: 4px;
    left: -18px;
    cursor: pointer;
}
.breaking-news-header{
    margin-bottom: 70px;
}
.breaking-news{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 88px;
}
.breaking-news-container{
    width: 263px;
    border: 1px solid #edeeee;
    cursor: pointer;
    margin-bottom: 45px;
}
.breaking-news-image{
    z-index: 1;
    margin-bottom: -67px;
}
.calendar-image{
    z-index: 2;
    width: 68px;
    height: 66px;
    background: #203e38;
    position: relative;
    top: -143px;
    right: -195px;
    text-align: center;
}
.calendar-data{
    color: white;
    font-size: 16px;
    padding-top: 15px;
}
.calendar-mounth{
    color: white;
    font-size: 16px;
    padding-top: 8px;
}
.breaking-news-text{
    padding-top: 14px;
    background: #f8fcfe;
}
.amazing-image-text{
    font-size: 18px;
    font-weight: bolder;
    margin-left: 15px;
    margin-bottom: 14px;
    color: #777777;
}
.by-admin-text{
    font-size: 14px;
    margin-left: 19px;
    display: inline-block;
    padding-right: 7px;
    border-right: 1px solid #777777;
    color: #777777;
}
.comment-text{
    font-size: 14px;
    display: inline-block;
    color: #777777;
    margin-left: 7px;
    margin-bottom: 12px;
}
.breaking-news-container:hover .calendar-image{
    background: #18cfab;
    transition: 0.5s;
}
.breaking-news-container:not(hover) .calendar-image{
    transition: 0.5s;
}
.breaking-news-container:hover .amazing-image-text{
    color: #18cfab;
    transition: 0.5s;
}
.breaking-news-container:not(hover) .amazing-image-text{
    transition: 0.5s;
}
.section-3-bg{
    background-image: url("../img/section-3.jpg");
    background-size: cover;
    height: 851px;
    background-position: 0 -120px;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    text-align: center;
}
.section-3-header{
    padding-top: 98px;
}
#section-3-header{
    color: white;
}
.section-3-quotes{
    padding-top: 59px;
    padding-bottom: 20px;
}
.section-3-text{
    width: 1097px;
    margin: 0 auto;
}
.section-3-text-information{
    display: inline-block;
    color: #bbbbbb;
    font-size: 16px;
    text-align: center;
}
.sl--slide{
    margin-bottom: 68px;
    outline: none;
}
.sl--text{
    margin-bottom: 37px;
}
.sl--zag{
    padding-top: 43px;
    color: #18cfab;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
}
.sl--desc{
    color: #afb1b2;
    font-size: 16px;
    padding-top: 13px;
}
.sl--img{
    margin: 0 auto;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(24, 207, 171, 0.3);
}
.sl-nav{
    margin: 0 auto;
}

.sl--slide{
    width: 67px;
}

.sl--img-2{
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba(24, 207, 171, 0.3);
}
.sl--img-2.active{
    border: 2px solid #18cfab;
    margin-top: -10px;
}
div.slick-track {
    position: relative;
    top: 31px;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-wrapper {
    width: 500px;
    margin: 0 auto;
}
#fa-angle-right.fa-angle-right:before{
    color: #bbbbbb;
    border: #bbbbbb 1px solid;
    position: absolute;
    padding: 9px 12px;
    top: 58px;
    right: -58px;
}
#fa-angle-right.fa-angle-right:hover:before{
    background-color: #18cfab;
}
#fa-angle-left.fa-angle-left:before{
    color: #bbbbbb;
    border: #bbbbbb 1px solid;
    position: absolute;
    padding: 9px 12px;
    top: 58px;
    right: 522px;
}
#fa-angle-left.fa-angle-left:hover:before{
    background-color: #18cfab;
}
div.slick-next {

}
div.slick-prev {

}
.footer{
    width: 100%;
    height: 108px;
    background-color: #22353f;
    text-align: center;

}
.footer-text-1{
    display: inline-block;
    font-size: 14px;
    color: #898e90;
    padding-right: 8px;
    border-right: 1px solid #898e90;
    margin-right: 8px;
    margin-top: 48px;
}

.footer-text-2{
    display: inline-block;
    font-size: 14px;
    color: #898e90;
    margin-top: 48px;
}





